body {color: red;}
body {background-color: #92a8d1;}
body {font-family: Arial, Helvetica, sans-serif;}
h1, p, .black-border {border: 5px solid black;}
ul, #green-background {background-color: green;}
h2, p, .black-border{border: 5px solid black;}
h1, h2, .font-size {font-size: 15px;}
footer, .font-size{font-size: 10px;}
